<h2>About Us</h2>

<br />

<ul>
    <li>
        We are specialize traditional Malay food.
    </li>
    <li>Email: mesahdelicacies@gmail.com</li>
    <li>Facebook: Mesah Delicacies</li>
    <li>Instagram: mesahdelicacies</li>
    <li>
        Address: 930 YISHUN AVENUE 2
        #B1-13
        NORTHPOINT SHOPPING CENTRE
        SINGAPORE (769098)
    </li>
    
</ul>
